
body 
{
	margin: 0;
	padding: 0;
	background: #697280;
	text-align: center;
	font-family: "Century Gothic", sans-serif;
	font-size: 13px;
	color: #F1F5F8;
	background-color:#2A2A2A;
}
p 
{
text-align: left;
}

#page
{
  margin: 0 auto 0 auto; 
  margin-top:25px;
  display: block; 
  height:auto;
  position: relative; 
  overflow: hidden; 
  width: 738px;
}

#header
{
height:100px;
}

#header h1
{
position:relative;
left:30px;
top:25px;
color:#F6F6F6;
text-align:left;
font-size:40px;
font-weight:bold;
font-family:Rockwell, Helvetica, sans-serif;
}

#header h2
{
font-size:16px;
font-family:Rockwell;
}

#navbar
{
height:50px;
width:750px;
line-height:50px;
padding-left:20px;
padding-right:20px;

}

#navbar .link
{
float:left;
height:50px;
}


#navbar a
{
font-size:14px;
font-weight:bold;
color:#FBFDFB;
margin-left:27px;
margin-right:27px;

}
.contentImage
{
	text-align: center;
}

a
{
/*removes link underlines*/
text-decoration:none;
color:#8F8F8F;
border-bottom:1px dashed #2A2A2A;
}

.toggle
{
font-size:14px;
font-weight:bold;
color:#FBFDFB;
margin-left:27px;
margin-right:27px;
}

